<!--
  This template loads for the 'tab.about' state (app.js)
-->
<view title="'About Contact Bangalore'">
  <content has-header="true" has-tabs="true" padding="true">
    <img src="img/bbmp_logo.png" class="ionic-logo">
    <p>
      This App provide details about councilors in Bangalore. Contacts in the app are based on details given at  
      <a href="http://bbmp.gov.in/web/guest/councillors-contact-details" target="_blank">BBMP website</a>.
    </p>
    <p>
      This project was created using Apache Cordova and Ionic Framework.
      Its hosted at <a href="https://github.com/kmanicka/bangalorecouncillors" target="_blank">Github</a>.
    </p>
  </content>
</view>
