

<view title="'Bangalore Councillors'">

   <div class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="Search">
    </label>
    <button class="button button-clear icon ion-arrow-right-c">
    </button>
  </div>

  <content has-header="true" has-tabs="true">
 
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="query">
      </label>
    </div>

    <list>
      <item ng-repeat="contact in contacts | filter:query" type="item-text-wrap" href="#/tab/contact/{{contact.id}}">
        <h2>{{contact.Name}}</h2>
        <p>{{contact.WardName}}, {{contact.AssemblyConstituency}}</p>
        </item>
      </item>
    </list>
  </content>
</view>
