<?xml version='1.0' encoding='utf-8'?>
<widget id="com.propertybees.bangalore.councillors" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bangalore Councillors</name>
    <description>
        This App provide details about councilors in Bangalore. 
    </description>
    <author email="kumaresan.manickavelu@gmail.com" href="http://twitter.com/Kumaresan">
        Property Bees Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" /> 
</widget>
